<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>scan-ble</ion-title>
    <ion-tab-button (click)="Scan()" slot="end">
      <ion-icon name="Bluetooth"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-tab-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">scan-ble</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-card-content ion-item *ngFor="let device of devices">
      <p> {{device.name || 'Unnamed'}} </p>
      <p> {{device.id}} </p>
      <p> RSSI: {{device.rssi}} </p>
    </ion-card-content>
  </ion-list>
</ion-content>
